@page
@model WebApp.Pages.Configuration
<div class="text-center">
    <form method="post">
        <div class="row mb-sm-1 justify-content-center">
            <label class="col-sm-2 col-form-label">SPI Clock Frequency</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" asp-for="SpiClockFrequency"/>
            </div>
        </div>
        <div class="row mb-sm-1 justify-content-center">
            <label class="col-sm-2 col-form-label">Latch Pin (Front)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" asp-for="FrontLatchPin"/>
            </div>
        </div>
        <div class="row mb-sm-1 justify-content-center">
            <label class="col-sm-2 col-form-label">Latch Pin (Back)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" asp-for="BackLatchPin"/>
            </div>
        </div>
        <div class="row mb-sm-1 justify-content-center">
            <label class="col-sm-2 col-form-label">Send to Front</label>
            <div class="col-sm-2">
                <input class="form-check-input" type="checkbox" asp-for="SendToFront">
            </div>
        </div>
        <div class="row mb-sm-1 justify-content-center">
            <label class="col-sm-2 col-form-label">Send to Back</label>
            <div class="col-sm-2">
                <input class="form-check-input" type="checkbox" asp-for="SendToBack">
            </div>
        </div>
        <div class="row mb-sm-1 justify-content-center">
            <label class="col-sm-2 col-form-label">Invert Back</label>
            <div class="col-sm-2">
                <input class="form-check-input" type="checkbox" asp-for="InvertBack">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>