@page
@model WebApp.Pages.IndexModel
<script src="/js/site.js"></script>
<div class="text-center" onload="init()">
    <canvas id="can" width="580" height="104"></canvas>
    <input type="button" value="Clear" id="clr" size="23" onclick="erase()">
    <input type="button" value="Send" id="clr" size="23" onclick="save()">
    <script>
        window.addEventListener('DOMContentLoaded', init, false);
    </script>
</div>